go 1.22.0

use (
	./going-deeper/context/examples/using-context-in-database-operations
	./learn-the-basics/basic-syntax/examples/hello-world
	./learn-the-basics/packages/examples/packages
	./logging/apex/examples/apex
)
